In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('salary-train.csv')
data_min = pd.read_csv('salary-test-mini.csv')

In [2]:
X = data[['FullDescription','LocationNormalized','ContractTime']]
y_train = data[['SalaryNormalized']]

In [3]:
#Correct Data
X['FullDescription'] = X['FullDescription'].apply(lambda x: x.lower())
X['FullDescription'] = X['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex=True)
X['LocationNormalized'].fillna('nan', inplace=True)
X['ContractTime'].fillna('nan', inplace=True)

C:\Users\HEKKA\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\HEKKA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HEKKA\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(min_df=5)
X_train = vectorizer.fit_transform(X['FullDescription'])
X_test = vectorizer.transform(data_min['FullDescription'])
#print(vectorizer.get_feature_names())

In [5]:
from sklearn.feature_extraction import DictVectorizer
import scipy as sp

dVectorizer = DictVectorizer()

X_train_cat = dVectorizer.fit_transform(X[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_cat = dVectorizer.transform(data_min[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_train = sp.sparse.hstack([X_train, X_train_cat])
X_test = sp.sparse.hstack([X_test, X_test_cat])

In [6]:
print(X_train)

  (0, 9611)	0.04490546953101409
  (0, 20413)	0.0387030844464958
  (0, 11722)	0.024933985634032353
  (0, 18451)	0.05094142801730146
  (0, 3350)	0.02780917325280237
  (0, 7709)	0.051305209532239764
  (0, 12171)	0.019784060664418117
  (0, 22197)	0.020520635156015515
  (0, 7323)	0.07101020149740392
  (0, 2650)	0.03545174285205156
  (0, 9932)	0.056610755716966256
  (0, 22668)	0.02669865026604241
  (0, 8484)	0.06324665355859202
  (0, 11621)	0.052325445744513636
  (0, 729)	0.04195598980714451
  (0, 1237)	0.027657781597657527
  (0, 19269)	0.05547416136056606
  (0, 7094)	0.046308072679393346
  (0, 22696)	0.03842120306776972
  (0, 19369)	0.062300287754603965
  (0, 8222)	0.05853002898579397
  (0, 19504)	0.04001548405514181
  (0, 11849)	0.054256825090476454
  (0, 5700)	0.03416514657651014
  (0, 10064)	0.030482790607819672
  :	:
  (59987, 24272)	1.0
  (59988, 22862)	1.0
  (59988, 23196)	1.0
  (59989, 22863)	1.0
  (59989, 23760)	1.0
  (59990, 22863)	1.0
  (59990, 22905)	1.0
  (59991, 22863)	1.0
  (59991, 24526)	1.0
  (59992, 22861)	1.0
  (59992, 23818)	1.0
  (59993, 22862)	1.0
  (59993, 23818)	1.0
  (59994, 22862)	1.0
  (59994, 23540)	1.0
  (59995, 22861)	1.0
  (59995, 24552)	1.0
  (59996, 22863)	1.0
  (59996, 23847)	1.0
  (59997, 22862)	1.0
  (59997, 22939)	1.0
  (59998, 22863)	1.0
  (59998, 24392)	1.0
  (59999, 22862)	1.0
  (59999, 23818)	1.0

In [7]:
y_train

       SalaryNormalized
0                 33000
1                 50000
2                 40000
3                 22500
4                 20355
...                 ...
59995             26400
59996             26000
59997             24500
59998             65000
59999             23040

[60000 rows x 1 columns]

In [8]:
from sklearn.linear_model import Ridge

rdg = Ridge(alpha=1, random_state=241)
rdg.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=241, solver='auto', tol=0.001)

In [9]:
rdg.predict(X_test)

array([[56555.61500155],
       [37188.32442618]])